.checkin
  %h4
    = checkin.student.name
    reported on
    = checkin.collected_at
  %h5 Yesterday
  %p
    %h5 Yesterday:
    = checkin.yesterday
  %p
    %h5 Today:
    = checkin.today
  %p
    %h5 Blockers:
    = checkin.blockers
