.checkin.flex-box
  %h4.flex-title
    = checkin.student.name
    reported on
    = checkin.collected_at
  %p
    %strong Yesterday:
    = checkin.yesterday
  %p
    %strong Today:
    = checkin.today
  %p
    %strong Blockers:
    = checkin.blockers
